<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="use_dummy_odom" default="false" />
    <arg name="use_ekf" default="false" />
    <arg name="odom_x_coeff" default="1.0" />
    <arg name="odom_y_coeff" default="1.0" />
    <arg name="odom_yaw_coeff" default="1.0" />
    <arg name="odom_swap_xy" default="false" />
    
    <group if="$(arg use_dummy_odom)">
        <node pkg="navigation" type="dummy_odom" name="dummy_odom">
            <!-- Placeholder
            <remap from="/nav/cmd_vel" to="/cmd_vel" />
             -->
        </node>
    </group>
    
    <group if="$(arg use_ekf)">
            <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
            <rosparam command="load" file="$(find navigation)/param/ekf.yaml" />
        
            <!-- remap from="odometry/twist" to="twist"/>
            <remap from="odometry/imu" to="imu"/-->
            <remap from="odometry/filtered" to="odom"/>
            <!--  Placeholder for output topic remapping
            <remap from="accel/filtered" to=""/>
            -->
        
        </node>
    </group>
    
    <group unless="$(arg use_ekf)">
        <node pkg="navigation" name="odometry_broadcaster" type="odometry_broadcaster">
            <param name="x_coeff" value="$(arg odom_x_coeff)" />
            <param name="y_coeff" value="$(arg odom_y_coeff)" />
            <param name="yaw_coeff" value="$(arg odom_yaw_coeff)" />
            <param name="swap_xy" value="$(arg odom_swap_xy)" />
        </node>
    </group>

     
     <!--
    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />
    -->
</launch>